<p id="notice"><%= notice %></p>

<section class="actual-photo">
  <bold><%= @photo.title %></bold>
<nav class="photo-footer">
	<%= link_to "home", root_path %> |
	<%= link_to "back to #{@photo.gallery.title.upcase}", gallery_path(@photo.gallery.id) %> | 
	<%= link_to 'Edit Photo', edit_photo_path(@photo) %>
</nav>
  <%= image_tag @photo.image_url.to_s, class: "actual-photo" %>
</section>


