<p id="notice"><%= notice %></p>

<center><nav class="gallery-nav">
	<strong><%= @gallery.title %></strong>
	<br>
	<span class="gallery-nav-links">
		<%= link_to 'Add Photos', new_photo_path %> |
		<%= link_to 'Edit Title', edit_gallery_path(@gallery) %> |
		<%= link_to 'Delete Gallery', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
	</span>
</nav></center>


<% @gallery.photos.each do |photo| %>
	<div class="photo">
		<%= link_to image_tag(photo.image_url(:thumb).to_s), photo_path(photo.id) %>
		<p><%= photo.title %></p>
	</div>
<% end %>

<br class="clear">
<center><footer>
	<%= link_to 'Back to Portfolio', galleries_path %>
</footer></center>